*{
box-sizing: border-box;
}

a{
text-decoration: none;
color: inherit;
}

body {
background: #eee;
margin: 0px;
}

#banner {
padding: 0px 10px;
text-align: center;
}


#home {
margin-bottom: 50px;
padding: 0px 10px;
}

#gear {
height: 400px;
background-image: url(images/ampegdark.jpg);
background-size: cover;
background-position: center center;
text-align: center;
}

#about {
height: 400px;
background-image: url(images/team3dark.jpg);
background-size: cover;
background-position: center top;
text-align: center;
}

#footer {
background: #111;
height: 200px;
width: 100%;
padding: 80px 10px 0px 10px;
text-align: center;
}

.ftnav {
display: inline block;
margin: 0px 10px;
}

.full {
margin: 7	5px 0px;
}


.biotext {
padding: 10px;
}

.team {
margin-bottom: 100px;
}


#logo {
text-align: center;
z-index: 1;
position: absolute;
top: 0;
display: block;
height: 50vh;
width: 100%;
margin-top: 30vh;
}

#gearbanner {
display: block;
width: 100%;
height: 50vh;
background: url(images/gearpage2.jpg) no-repeat;
background-size: cover;
background-position: center center;
text-align: center;
}

#abtbanner {
display: block;
width: 100%;
height: 50vh;
background: url(images/team1.jpg) no-repeat;
background-size: cover;
background-position: center center;
margin-bottom: 100px;
text-align: center;
}


#myles {
height: 400px;
background-image: url(images/myles2.jpg);
background-size: cover;
background-position: center center;
}

#chris {
height: 400px;
background-image: url(images/chris.jpg);
background-size: cover;
background-position: center center;
}









[class*="arr-"] {
height: 90vh;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

div.slider {
z-index: 0;
margin-bottom: 150px;
}

div.slide1 {
background: url(images/slide1.jpg) no-repeat center center;
height: 90vh;
display: block;
background-size: cover;
}

div.slide2 {
background: url(images/slide2.jpg) no-repeat center center;
height: 90vh;
display: block;
background-size: cover;
}

div.slide3 {
background: url(images/slide3.jpg) no-repeat center center;
height: 90vh;
display: block;
background-size: cover;
}



[class*="col-"] {
background: transparent;
width: 100%;
}




ul {
list-style-type: none;
display: block;
margin-top: 1em;
margin-bottom: 1 em;
margin-left: 0;
margin-right: 0;
padding: 0px 10px;
}

li.title {
font-weight: 600; 
margin-bottom: 5px;
}


a.home {
display: inline-block;
margin-top: 10vh;
}

a.link {
color: #555;
}

img.social {
height: 30px;
}

img.adobe {
height: 60px;
margin-top: 10px;
}


img.linkimg {
margin-top: 150px;
}

img.vi {
width: 30vw;
max-width: 736px;
min-width: 260px;
}

img.octosml {
width: 15vw;
max-width: 736px;
min-width: 200px;
opacity: 0.8;
}

img.bodyimage {
width: 70%;
margin-top: 0px;
}

a.social {
display: inline-block;
height: 30px;
margin: 30px 10px;
}

a.fp {
display: inline-block;
width: 100%;
opacity: 1.0;
-webkit-transition: opacity 0.2s; /* Safari */
transition: opacity 0.2s;
text-align: center;
}

a.fp:hover {
opacity: 0.7;
}

h1 {
font-family: 'Open Sans', sans-serif;
font-size: 1.2em;
font-weight: normal;
color: #333;
line-height: 1.5em;
margin-top: 0px;
}

h2 {
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 2em;
font-weight: bold;
font-style: normal;
color: #333;
line-height: 1em;
margin-top: 100px;
}

h3 {
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 2em;
font-weight: bold;
font-style: normal;
color: #333;
line-height: 1em;
margin: 0px;
}

h4 {
font-family: 'Open Sans', sans-serif;
font-size: 1.3em;
font-weight: bold;
color: #eee;
line-height: 1.5em;
margin-top: 0px;
}

h5 {
font-family: 'Open Sans', sans-serif;
font-size: .8em;
font-weight: bold;
color: #eee;
line-height: 1.5em;
margin-top: 0px;
}


/* ------- DESKTOP ------- */
@media only screen and (min-width: 768px) {


h4 {
font-size: 1em;
}

#logo {
height: 60vh;
margin-top: 20vh;
}

.sub1 {
}

.sub2 {
margin: 0% 20%;
}


.full {
margin: 150px 0px;
}


.col-1 {width: 5%}
.col-2 {width: 10%}
.col-3 {width: 15%}
.col-4 {width: 20%}
.col-5 {width: 25%}
.col-6 {width: 30%}
.col-7 {width: 35%}
.col-8 {width: 40%}
.col-9 {width: 45%}
.col-10 {width: 50%}
.col-11 {width: 55%}
.col-12 {width: 60%}
.col-13 {width: 65%}
.col-14 {width: 70%}
.col-15 {width: 75%}
.col-16 {width: 80%}
.col-17 {width: 85%}
.col-18 {width: 90%}
.col-19 {width: 95%}
.col-20 {width: 100%}


.glist {
margin: 0% 25%;
}

.team {
margin: 0px 25% 100px 25%;
}

.biotext {
padding: 0px 10px;
}

.ratestext {
padding: 0px 10px;
text-align: center;
}

.ft {
text-align: center;
margin-bottom: 30px; 
min-height: 30px;
}


.row:after {
content: "";
clear: both;
display: block;
}


[class*="col-"] {
float: left;
padding: 0px;
}

img.adobe {
height: 50px;
margin-top: 0px;
}
} /* END DESKTOP */